<footer>


    <div class="f-info">

      <div class="left">
        
       <div class="copyr"> &copy; 2026 TravelNest, Inc.</div>

       <div class="f-info-links">
        <a href="/privacy" class="f-info-link">Privacy</a>
        <a href="/terms" class="f-info-link">Terms</a>
        <a href="/companydetails" class="f-info-link">Company details</a>
       </div>
      </div>

        <div class="f-info-socials">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
       </div>
       


    </div>


</footer>