
<style>
  .btn-search{
    background-color: #fe434d;
    color: white;
    border-radius: 200px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
        background-color: #fe434d;
        color: white;
  }
   .btn-search i {
    display: inline;
   }

.searching{
  padding-right:4rem ;
   border-radius: 50px
}

/* ── Navbar Responsive ── */
@media (max-width: 767px) {
  .navbar-collapse .navbar-nav.ms-auto {
    margin: 0 !important;
    padding: 0.25rem 0;
  }

  .navbar-collapse .navbar-nav form.d-flex {
    width: 100%;
    margin: 0.5rem 0;
  }

  .navbar-collapse .navbar-nav .searching {
    flex: 1;
    min-width: 0;
    padding-right: 1.5rem;
    font-size: 0.9rem;
  }

  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.5rem 0.25rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .searching {
    padding-right: 1rem;
    font-size: 0.85rem;
  }

  .btn-search {
    padding: 0 0.75rem;
  }
}
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
<div class="container-fluid">
<a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNavAltMarkup">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">

<a class="nav-link" href="/listings">Explore</a>

</div>

<div class="navbar-nav ms-auto ">
   <form class="d-flex" role="search" action="/listings" method="GET">
      <input class="form-control me-2 searching" type="search" placeholder="Search destinations..." name="search" aria-label="Search"/>
      <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<div class="navbar-nav ms-auto">
  <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
  <% if(! currUser){ %>
<a class="nav-link" href="/signup"><b>Sign Up</b></a>
<a class="nav-link" href="/login"><b>Login</b></a>
<%}%>

  <% if(currUser){ %>
<a class="nav-link" href="/logout"><b>Logout</b></a>
<%}%>
</div>


</div>
</div>
</nav>







































<!-- <nav class="navbar navbar-expand-lg bg-body-white border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-plane-departure"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav mx-auto">
        <a class="nav-link plane-anim" href="/">Home
          <span class="flight">
            <span class="trail"></span>
            <i class="fa-solid fa-plane plane"></i>
          </span>
        </a>

        <a class="nav-link plane-anim" href="/listings">All Listings
          <span class="flight">
            <span class="trail"></span>
            <i class="fa-solid fa-plane plane"></i>
          </span>
        </a>

        <a class="nav-link plane-anim" href="/listings/new">Add New Listing
          <span class="flight">
            <span class="trail"></span>
            <i class="fa-solid fa-plane plane"></i>
          </span>
        </a>
      </div>

    </div>
  </div>
</nav> -->